# Vim temporary files
*.swp
vim/.netrwhist

# Ignore init.vim link
vim/init.vim

# Vim-plug file
vim/autoload/plug.vim

# Sublime Package control reproducible files

# Package Control.last-run
# Package Control.ca-list
# Package Control.ca-bundle
# Package Control.system-ca-bundle
# Package Control.merged-ca-bundle
# Package Control.cache/
# Package Control.ca-certs/
#
# Default*.sublime-keymap
#
# GoSublime/**/*
# ColorPicker/**/*
#
# # Sublime Configs with sensitive data
#
# MarkdownPreview.sublime-settings
# oscrypto-ca-bundle.crt
#
